@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";

$white: #FFFFFF;
$black: #000000;
$teal: #52ada4;
$pink: #b21972;
$green: #c1ffb6;
$orange: #e69756;
$yellow: #ffc400;
$lightpink: #FFB6C1;
$blue: #b6c1ff;
$one: #ffb6c1;
$two: #ffd0b6;
$three: #ffb6e6;

.my-body{
  padding-top: 90px;
}

body {
  text-align: center;
  font-family: "Avenir", sans-serif; 
  font-size: 18px;
}

h2 {
  font-size: 36px;
}

p {

}

th {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.navbar .nav > li > a {
  color: $pink;
  font-family: ‘Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 3px solid transparent;
  padding: 9px 15px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: $black;
}

.navbar {
  border-radius: 0px !important;
  background-color: $white !important;
  font-size: 16px;
  font-family: "futura-pt",sans-serif;
  margin-bottom: 40px;
  border-bottom: 0px;
  .container-fluid {
    padding-left: 11%;
  }
}

.navbar-nav > li{
  margin-left:1px;
  margin-right:1px;
  text-align: center;
  padding: 5px 20px 30px 20px;
  height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  display: block;
}

table {
  width: 100%;
  border: 2px solid $black;
}
th.experience, th.year, th.rating {
  width: 15%;
  text-align: center;
}
th.about {
  width: 55%; /* Not necessary, since only 70% width remains */
  text-align: center;
}

h2 {
  color: $pink;
  font-size: 40px;
}

#skills{
  background-color: $one;
}

#tools{
  background-color: $two;
}

#work_rails_projects{
  background-color: $three;
}

#personal_rails_projects{
  background-color: $one;
}

#my_interests{
  background-color: $white;
}

#education{
  background-color: $two;
}

#contact{
  background-color: $three;
}

.my-contact-text{
  vertical-align: middle;
  font-size: 25px;
  display:inline-block; 
}