@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.my-body{
  padding-top: 90px;
  background-color: #FFB6C1;
}

.about {
  background-color: green;
}