@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "formatting";
@import "fonts";
@import "navbar";
@import "headings";
@import "tables";

body {
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-size: 18px;
}

.my-body {
  padding-top: 90px;
  background-color: $gray;
}

.tania-image {
  vertical-align: text-top;
}
