$white: #FFFFFF;
$black: #000000;
$teal: #52ada4;
$pink: #b21972;
$green: #c1ffb6;
$orange: #e69756;
$yellow: #ffc400;
$lightpink: #FFB6C1;
$blue: #b6c1ff;
$gray: #ECECEC;
$darker-green-blue: #BDD8DA;
$lighter-green-blue: #DFEFF0;
